{% extends 'base.html.twig' %}

{% block title %}Trabalho index{% endblock %}

{% block body %}
    <h1>Trabalho index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Descricao</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trabalho in trabalhos %}
            <tr>
                <td>{{ trabalho.id }}</td>
                <td>{{ trabalho.titulo }}</td>
                <td>{{ trabalho.descricao }}</td>
                <td>
                    <a href="{{ path('trabalho_show', {'id': trabalho.id}) }}">show</a>
                    <a href="{{ path('trabalho_edit', {'id': trabalho.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trabalho_new') }}">Create new</a>
{% endblock %}
